.card-container {
  position: relative;
  display: flex; /* Display cards under each other */
  flex-direction: column; /* Stack cards vertically */
  margin: 20px 10px;
  padding: 10px;
  width: 350px;
  background-color: var(--bg-dark);
  border-radius: 5px;
  max-height: 700px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
}

.task-container {
  overflow: auto;
}

.div-container {
  display: flex; /* Display divs next to each other */
  flex-wrap: nowrap; /* Allow divs to wrap to next line */
  justify-content: flex-start;
  align-items: flex-start;
}

.addbtn-column {
  background-color: transparent;
  color: var(--dark-gray);
  border: 2px dashed var(--dark-gray);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 350px !important;
  min-width: 350px !important;
  height: 155px !important;
  min-height: 155px !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.3em;
  transition: 0.4s ease-in-out;
  box-shadow: none;
}

.addbtn-column:hover {
  color: var(--light-gray);
  background-color: var(--bg-dark);
}

.name-edit { 
  display: flex;
  justify-content: flex-start;
  color: var(--light-gray);
  margin: 0 30px 30px;
  border-bottom: 1px solid var(--light-gray);
  column-gap: 10px;
}

.name-edit input{
  width: 70%;
  color: var(--light-gray);
  font-family: var(--basic-font);
  font-size: 1.5em;
  margin: 5px 20px 5px 0;
  background: transparent;
  border: none;
  outline: none;
}

.name-edit input:focus,
.name-edit input:hover,
.name-edit input:active {
  outline: none;
  border: none;
}

.name-edit input::selection {
  color: var(--dark-gray);
  background: var(--light-gray);
}

.name-edit span {
  margin: 4px 0px 6px 0px;
}

.delete-column-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--light-gray);
}

.delete-column-button:hover {
  color: var(--important);
}

.edit-action-button {
  padding: 5px;
  cursor: pointer;
}

#check-button:hover {
  color: var(--confirm);
}

#cancel-button:hover {
  color: var(--important);
}

.ai-button {
  color: var(--light-gray);
  padding: 5px;
  cursor: pointer;
}

.ai-button:hover {
  color: var(--magic);
}

.generate-task-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 10px;
}
.option-p{
  color: aliceblue;
}

@media (max-width: 830px) {
  body {
    font-size: 0.9em;
  }

  .div-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.75em;
  }

  .div-container {
    flex-direction: column;
  }
}

@media (max-width: 415px) {
  .content {
    padding: 20px 10px;
  }
}

@media (max-width: 380px) {
  .content {
    padding: 20px 5px;
  }
}

@media (max-width: 370px) {
  .content {
    padding: 20px 0px;
  }
}

