.card-container {
  display: flex; 
  flex-direction: column;
  margin: 20px 10px;
  padding: 10px;
  background-color: rgba(var(--dark-grayRGB), 0.5);
  border-radius: 5px;
}

.card {
  display: flex; 
  align-items: center; 
  background-color: var(--dark-gray);
  color: var(--light-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  min-width: 150px;
  cursor: pointer;
  position: relative;
}

.card:hover {
  cursor: pointer;
}
.card:active {
  cursor: grabbing;
}

.addbtn {
  font-size: larger;
  width: 40%;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.addbtn:hover {
  color: var(--light-gray);
}

.edit {
  position: absolute;
  right: 30px;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  color: var(--light-gray);
  margin-right: 5px;
}

.edit:hover {
  cursor: pointer;
}

.delete-button {
  position: absolute;
  right: 10px; 
  padding: 5px;
  cursor: pointer;
  color: var(--light-gray);
}

.delete-button:hover {
  color: var(--important);
}
