.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: auto;
    min-height: 60px;
    transition: 0.3s ease;
}

.subtask-card {
    background-color: var(--bg-mostly-black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

}

.card:hover {
    cursor: pointer;
}

.card:active {
    cursor: grabbing;
}

.addbtn {
    background-color: transparent;
    color: var(--dark-gray);
    border: 2px dashed var(--dark-gray);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
}

.addbtn:hover {
    color: var(--light-gray);
    background-color: var(--dark-gray);
}



@keyframes rotate {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.edit-button {
    color: var(--light-gray);
}

.edit-button:hover {
    animation: rotate 0.5s;
}

.delete-task-button {
    color: var(--light-gray);
}

.delete-task-button:hover {
    color: var(--important);
}

.favourite-button {
    color: var(--light-gray);
}

.ai-button {
    color: var(--light-gray);
}

.solid-icon {
    color: var(--starred);
}

.regular-icon:hover {
    color: var(--starred);
}

.task-title {
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    text-align: left;
    padding: 5px 10px 5px 5px;
}

.options {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    padding: 5px;
    cursor: pointer;
}

.icon-container {
    width: 400px;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.option {
    margin-right: auto;
    height: 40px;
    background-color: var(--bg-dark);
    border: 1px solid var(--dark-gray);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px 10px 5px 5px;
    transition: 0.3s ease;
}

.option:hover {
    background-color: var(--dark-gray);
    transform: translateX(10px);
    cursor: pointer;
}

.option p {
    width: max-content;
    color: var(--light-gray);
    animation: none;
    cursor: pointer;
}    

.option span {
    width: 30px;
    padding: 5px;
}    

.tags {
    width: 100%;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: visible;
    gap: 6px;
}

.tags-container {
    grid-column: 1 / span 2;
}

.description-container {
    grid-column: 1 / span 2;
}

.subtasks-container {
    grid-column: 1 / span 2;
}

.comments-container {
    width: 100%;
    grid-column: 1;
    grid-row: 4 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.attachments-container {
    grid-column: 2;
    grid-row: 4 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.members-container {
    grid-column: 2;
    grid-row: 5 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}