.output-textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Arial", sans-serif;
}

.coding-container {
  width: 100%;
}

.coding-container p {
  text-align: left;
}

.code-textarea {
  display: inline-block;
  width: 100%;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--bg-mostly-black);
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  color: var(--light-gray);
  font-family: "Courier New", Courier, monospace;
  text-align: left;
}


.output-textarea:disabled {
  background-color: var(--light-gray);
  cursor: not-allowed;
  resize: none;
}

.react-dropdown-select {
  width: 100%;
  margin-bottom: 10px;
}

.code-dropdown {
  margin-bottom: 20px;
}