.card-container {
  display: flex; /* Display cards under each other */
  flex-direction: column; /* Stack cards vertically */
  margin-top: 20px; /* Add space between div and cards */
  max-width: 350px;
  min-width: 250px;
}

.content {
  text-align: center;
  padding: 20px;
}

.div-container {
  display: flex; /* Display divs next to each other */
  flex-wrap: wrap; /* Allow divs to wrap to next line */
  justify-content: flex-start;
}

.div {
  flex: 1; /* Allow divs to take equal space */
}

.card-title {
  color: var(--light-gray);
  margin: 0 30px 30px;
  border-bottom: 1px solid var(--light-gray);
}

@media (max-width: 830px) {
  body {
    font-size: 0.9rem;
  }

  .div-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.75rem;
  }

  .div-container {
    flex-direction: column;
  }
}

@media (max-width: 415px) {
  .content {
    padding: 20px 10px;
  }
}

@media (max-width: 380px) {
  .content {
    padding: 20px 5px;
  }
}

@media (max-width: 370px) {
  .content {
    padding: 20px 0px;
  }
}

.delete-column-button {
  padding: 5px;
  cursor: pointer;
  color: var(--light-gray);
}
