@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,100;1,400&display=swap');

:root{
    --dark-gray: #404040;
    --dark-grayRGB: 64, 64, 64;
    --light-gray: #cbcbcb;
    --button: #3d506b;
    --important: rgba(255, 0, 0, 0.4);
    --important-light: rgba(255, 0, 0, 0.6);
    --basic-font: 'Raleway', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--basic-font);
    color: var(--dark-gray);
    line-height: 1.6;
    background: url('./imgs/background-small.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('./imgs/background.jpg') no-repeat center;
    background-size: cover;
}
