.gt-popup-content {
  width: 100%;
  /* height: 100%; */
  max-height: 90vh;
  overflow: auto;
  padding: 5px;
}

.gt-attributes-container {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  background-color: var(--bg-mostly-black);
  margin: 20px 0px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.gt-attributes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

.gt-action-buttons {
  display: grid;
  grid-template-columns: 80% 20%;
  margin-bottom: 50px;
}

.gt-space {
  margin-left: 50px;
}

.gt-input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  width: 15%;
  text-align: left;
  margin: 0;
}

.value {
  width: 85%;
  text-align: left;
  font-size: 0.8em;
}

.gt-input-container textarea,
.gt-input-container input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  background-color: var(--dark-Navbar);
  font-family: var(--basic-font);
  color: var(--light-gray);
}

.gt-input-container input {
  height: 2rem;
}

.gt-input-container input:focus,
.gt-input-container input:hover,
.gt-input-container input:active {
  outline: none;
}

.gt-input-container textarea {
  resize: none;
  overflow: auto;
}

.gt-input-container p {
  margin: 0;
  text-align: left;
}
.gt-input-container h3 {
  text-align: left;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 10px;
}

.Dropdown-root {
  height: 1rem;
}

.Dropdown-root .Dropdown-control {
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

.dropdown-options .Dropdown-control {
  width: max-content;
}

.dropdown-menu {
  overflow: visible;
}

.Dropdown-root .Dropdown-menu {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

.Dropdown-root .Dropdown-option {
  color: var(--light-gray);
}

.Dropdown-root .Dropdown-arrow {
  position: inherit;
}

.Dropdown-root .Dropdown-option:hover {
  color: var(--off-white);
  background-color: var(--scrollbar-hover);
}

.Dropdown-root .Dropdown-option.is-selected {
  color: var(--scrollbar-hover);
  background-color: var(--dark-gray);
}

.generate-button {
  min-width: 80px;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.4s ease;
  align-self: flex-end;
  grid-row: 1 / span 12;
  grid-column: 2;
  justify-self: center;
}

.generate-button:hover {
  background-color: var(--button);
  color: var(--off-white);
}

.subtasks h2 {
  margin: 0 0 20px 0;
  text-align: left;
}

.gt-space-after {
  margin-bottom: 10px;
}
