.signup-form,
.login-form {
    width: 60vw;
    max-width: 450px;
    min-height: 500px;
    position: relative;
    top: 10vh;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 auto;
    padding: 20px 50px;
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.signup-form h2, 
.login-form h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}


.form-group label {
    display: none;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='password'] {
    width: 100%;
    padding: 10px;
    font-family: var(--basic-font);
    font-size: 16px;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--dark-gray);
    outline: none;
}

#checkbox{
    display: block;
}

.form-group input[type='checkbox'] {
    padding: 20px 0;
    text-align: left;
    display: inline-block;
    margin-right: 5px;
}

#loginbtn,
#signupbtn {
    width: 100%;
    margin: 50px auto;
    padding: 10px;
    font-family: var(--basic-font);
    font-size: 16px;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginbtn:hover,
#signupbtn:hover {
    background-color: var(--button);
    color: var(--light-gray);
}


a {
    text-decoration: none;
    color: var(--dark-gray);
}

.errorBox {
    background-color: var(--important);
    color: var(--dark-gray);
    text-align: center;
    padding: 5px;
    border: solid 1px var(--dark-gray);
    border-radius: 5px;
}

/* Tablets and under */
@media(max-width: 768px){
    .signup-form,
    .login-form {
        width: 70vw;
        top: 5vh;
        margin: 0 auto;
    }
}

/* Mobile */
@media(max-width: 480px) {
    .signup-form,
    .login-form {
        width: 100%;
        max-height: 100vh;
        top: 0;
        padding: 20px 20px;
        margin: 0 auto;
    }
}

@media(max-width: 480px){
    .signup-form,
    .login-form {
        width: 100%;
        max-height: 100vh;
        top: 0;
        padding: 20px 20px;
        margin: 0 auto;
    }
}
