.auth-container {
    width: 60vw;
    max-width: 450px;
    max-height: 80vh;
    /* Set the max-height value according to your needs */
    min-height: 450px;
    position: relative;
    top: 10vh;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 auto;
    padding: 20px 50px;
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
}


.auth-container h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    transition: height 0.5s ease;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.form-group label {
    display: none;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    font-family: var(--basic-font);
    font-size: 16px;
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--dark-gray);
    outline: none;
}

#checkbox {
    display: block;
}

.form-group input[type="checkbox"] {
    padding: 20px 0;
    text-align: left;
    display: inline-block;
    margin-right: 5px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    font-family: var(--basic-font);
    font-size: 16px;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: var(--button);
    color: var(--light-gray);
    transition: background-color 0.3s ease;
}

a {
    text-decoration: none;
    color: var(--dark-gray);
}

.errorBox {
    background-color: var(--important);
    color: var(--dark-gray);
    text-align: center;
    padding: 5px;
    border: solid 1px var(--dark-gray);
    border-radius: 5px;
}

/* Tablets and under */
@media(max-width: 768px) {

    .signup-form,
    .login-form {
        width: 70vw;
        top: 5vh;
        margin: 0 auto;
    }
}

/* Mobile */
@media(max-width: 480px) {

    .signup-form,
    .login-form {
        width: 100%;
        max-height: 100vh;
        top: 0;
        padding: 20px 20px;
        margin: 0 auto;
    }
}

@media(max-width: 480px) {

    .signup-form,
    .login-form {
        width: 100%;
        max-height: 100vh;
        top: 0;
        padding: 20px 20px;
        margin: 0 auto;
    }
}

.password-strength {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.password-strength.weak {
    color: rgb(207, 0, 0);
    filter: drop-shadow(0 0 6px red);
}

.password-strength.medium {
    color: rgb(192, 125, 0);
    filter: drop-shadow(0 0 6px orange);
}

.password-strength.strong {
    color: green;
    filter: drop-shadow(0 0 6px rgb(0, 238, 0));
}

.password-strength-meter {
    width: 100%;
    height: 3px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.strength-indicator {
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.strength-indicator.weak {
    background-color: red;
    filter: drop-shadow(0 0 2px red) drop-shadow(0 0 4px red) drop-shadow(0 0 8px red);
}

.strength-indicator.medium {
    background-color: orange;
    filter: drop-shadow(0 0 2px orange) drop-shadow(0 0 4px orange) drop-shadow(0 0 8px orange);
}

.strength-indicator.strong {
    background-color: rgb(0, 238, 0);
    filter: drop-shadow(0 0 2px rgb(0, 238, 0)) drop-shadow(0 0 4px rgb(0, 238, 0)) drop-shadow(0 0 8px rgb(0, 238, 0));
}

.password-match-error {
    color: rgb(160, 0, 0);
    /*font-size: 14px;*/
    font-weight: bold;
    margin-top: 5px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Test */

.auth-error {
    color: rgb(160, 0, 0);
    font-weight: bold;
}

.auth-valid {
    color: green;
    font-weight: bold;
}
