.navbar {
  background-color: var(--dark-Navbar);
  color: var(--light-gray);
  padding: 5px 10px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--dark-gray);
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: var(--light-gray);
  text-decoration: none;
  justify-self: center;
}

.navbar-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar-menu ul {
  list-style-type: none;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-menu li:first-child {
  height: 90%;
}

.navbar-menu li {
  font-size: 1.2em;
  padding: 5px;
  cursor: pointer;
}

#menu-btn {
  display: inline-block;
  margin: 0 10px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--light-gray);
  font-size: 1.5em;
  align-self: center;
}

.profile-submenu,
.background-submenu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: var(--dark-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 5px;
  padding: 5px;
  z-index: 100;
}

.profile-menu-title {
  color: var(--light-gray);
  margin: 0 20px 20px;
  border-bottom: 1px solid var(--light-gray);
}

.profile-menu {
  list-style-type: none;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.profile-menu li {
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.profile-menu li:hover {
  background-color: #8a8a8a;
  border-radius: 8px;
}

.profile-menu li a {
  color: var(--light-gray);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.profile-menu li a span:first-child {
  width: 20%;
}

.profile-menu li a span:last-child {
  width: 80%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 0.9em;
}

.search-form input[type="text"] {
  width: 100%;
  padding: 5px;
  font-family: var(--basic-font);
  font-size: 1em;
  background: var(--light-gray);
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-form button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--light-gray);
  font-size: 1em;
}

.unread-notification-count {
  color: orangered;
  font-weight: bold;
}