.notifications-submenu {
    width: max-content;
    min-width: 500px;
    max-height: 80vh;
    max-width: 80%;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--dark-gray);
    border: 1px solid var(--bg-dark);
    border-radius: 8px;
    border-top-right-radius: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    margin: 10px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    overflow-y: auto;
    padding: 20px;
}

.notification-header {
    position: sticky;
    top: 0;
    background-color: var(--dark-gray);
    z-index: 101;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-gray);
    margin-bottom: 20px;
}

.notification-menu-title {
    color: var(--light-gray);
    font-weight: bold;
    font-size: 1.5rem;
}

.notification-switch {
    border-radius: 8px;
    padding: 7px 15px;
    border: 1px solid var(--light-gray);
    background-color: var(--bg-mostly-black);
    color: var(--light-gray);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.notification-switch:hover {
    background-color: var(--light-gray);
    color: var(--bg-mostly-black);
    transform: scale(1.05);
}

.notification-content {
    overflow-y: auto;
    flex-grow: 1;
    padding: 0 20px;
}

.notification-container {
    width: 100%;
    background-color: var(--bg-mostly-black);
    padding: 20px;
    border-radius: 8px;
    border-top-right-radius: 0;
    border: 1px solid var(--bg-dark);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.container-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-gray);
    margin-bottom: 20px;
}

.container-header p {
    margin: 0;
    color: var(--light-gray);
    font-size: 1.2em;
}

.notification-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #383838e3;
    border-radius: 5px;
    border: 1px solid var(--dark-gray);
    transition: transform 0.3s ease;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.notification-item:hover {
    transform: translateY(-3px);
    background-color: #4e4e4eea;
}

.notification-details {
    flex-grow: 1;
    color: var(--light-gray);
}

.notification-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--light-gray);
    gap: 5px;
}

.created-at {
    font-size: 0.8em;
    color: var(--light-gray);
}

.notification-type {
    font-weight: bold;
    font-size: 1em;
    color: rgb(195, 205, 241);
}

.mark-seen-button,
.mark-all-button {
    background-color: transparent;
    color: var(--light-gray);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: transform 0.1s ease, color 0.3s ease;
}

.mark-seen-button:hover,
.mark-all-button:hover {
    color: #4caf50;
}

.not-found-message {
    color: var(--light-gray);
    font-size: 1.2em;
    text-align: center;
}

[data-theme='light'] .notifications-submenu {
    background-color: var(--off-white);
    border: 1px solid var(--bg-light);
}

[data-theme='light'] .notification-header {
    background-color: var(--off-white);
    border-bottom: 1px solid var(--bg-dark);
}

[data-theme='light'] .notification-item {
    background-color: var(--bg-light);
    border: 1px solid var(--bg-dark);
}

[data-theme='light'] .notification-switch {
    background-color: var(--light-gray);
    color: var(--bg-mostly-black);
}

[data-theme='light'] .mark-seen-button:hover,
[data-theme='light'] .mark-all-button:hover {
    color: #ff6347;
}