.notification-container {
  width: 50%;
  max-width: 50vw;
  max-height: 80vw;
  margin: 0 auto;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--dark-gray);
  border-radius: 8px;
  border-top-right-radius: 0;
  border: 1px solid var(--bg-dark);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  height: 75vh;
}

.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 20px;
}

.container-header p {
  margin: 0;
  color: var(--light-gray);
  font-size: 1.2em;
}

.notification {
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  border-color: var(--dark-gray);
  background-color: #383838e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}

[data-theme="light"] .notification {
  background-color: #f0f0f0cc;
  /* Világos módhoz tartozó háttérszín */
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: var(--notification-type);
}

.notification:hover {
  transform: translateY(-3px);
  /* Enyhe emelkedés hover esetén */
  background-color: #4e4e4eea;
}

.notification:not(:last-child) {
  margin-bottom: 5px;
  /* Kisebb térköz az értesítések között */
}

[data-theme="light"] .notification:hover {
  background-color: #b3b3b3cc;
  /* Világos módhoz tartozó háttérszín */
}

.notification {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.created-at {
  font-size: 0.8em;
  color: var(--light-gray);
}

.notification-type {
  font-size: 1em;
  color: rgb(195, 205, 241);
}

[data-theme="light"] .notification-type {
  color: #383838;
  /* Világos módhoz tartozó háttérszín */
}

.notification-content {
  margin: 0 10px;
  color: var(--light-gray);
  text-align: left;
}

.mark-all-button,
.mark-seen-button {
  background-color: transparent;
  color: var(--light-gray);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  /*Extra kinézethez*/
  transition: transform 0.1s ease;
}

.mark-all-button:active,
.mark-seen-button:active {
  transform: scale(0.95);
  /* Az aktív állapotban a gomb mérete kicsit összenyomódik */
}

.mark-all-button:hover,
.mark-seen-button:hover {
  color: #4caf50;
}

[data-theme="light"] .mark-all-button:hover,
.mark-seen-button:hover {
  color: #249428;
}

.not-found-message {
  color: var(--light-gray);
  font-size: 1.2em;
  text-align: center;
}

.switch-container {
  margin: 0 auto;
  width: 50%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.switch {
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px;
  border: 1px solid var(--bg-dark);
  border-bottom: none;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  cursor: pointer;
  font-family: var(--basic-font);
  transition: all 0.2s ease;
}

.switch:hover {
  transform: scale(1.03);
}