
/* Permission table */
.permission-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.permission-table th {
    background-color: var(--bg-dark);
    color: var(--light-gray);
    padding: 10px;
    border: 1px solid var(--dark-gray);
}

.permission-table th,
.permission-table td {
    border: 1px solid var(--dark-gray);
    padding: 10px;
    text-align: center;
}

.permission-table td {
    background-color: var(--bg-mostly-black);
}

.role-header {
    background-color: var(--bg-dark);
}

.delete-role {
    background-color: var(--important);
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

/* Role input and button */
.add-role {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.role-input {
    padding: 8px;
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
    width: 200px;
}

.add-role-button {
    background-color: var(--button);
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-role-button:hover {
    background-color: var(--important-light);
}

/* Checkbox styling */
.permission-checkbox [type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid var(--dark-gray);
    border-radius: 3px;
    background-color: white;
    cursor: pointer;
}

.permission-checkbox [type="checkbox"]:checked {
    background-color: var(--confirm);
}

/* Styling for permission names */
.permission-name {
    font-weight: bold;
}

/* Styling for role names */
.role-permission {
    text-align: center;
}

.role-permission input[type="checkbox"] {
    margin: 0 auto;
    display: block;
}

.role-header-div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Add your additional styles here */