.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  position: relative;
  margin: auto;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  border-radius: 8px;
  padding: 50px 30px 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--light-gray);
  padding: 2px;
}

.close-btn:hover {
  cursor: pointer;
  animation: rotate 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

.popup-content {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.popup p {
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--basic-font);
  font-size: 0.95em;
}

.button-container button:nth-child(1) {
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

.button-container button:nth-child(1):hover {
  background-color: var(--button);
  color: var(--light-gray);
}

.button-container button:nth-child(2) {
  background-color: var(--important);
  color: var(--light-gray);
}

.button-container button:nth-child(2):hover {
  background-color: var(--important-light);
  color: var(--light-gray);
}