.popup {
    position: relative;
    margin: auto;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    border-radius: 8px;
    padding: 20px 20px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 800px;
    height: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}


.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-btn {
    align-self: flex-end;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #888;
    font-size: 18px;
}

.close-btn:hover {
    color: #333;
}

.select-container {
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Additional Styles for Improved Accessibility */

.popup-content p {
    font-size: 16px;
    margin-bottom: 5px;
}

.option-inactive {
    color: #888;
}