.select-container {
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.option-inactive {
    color: #888;
}