@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,100;1,400&display=swap');

:root{
    --dark-gray: #404040;
    --light-gray: #cbcbcb;
    --button: #fcdcc3;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}

.background {
    background: url('./imgs/background.jpg') no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.signup-form {
    max-width: 30vw;
    position: relative;
    top: 10vh;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='password'],
.form-group input[type='checkbox'] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type='checkbox'] {
    display: inline-block;
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}