.tag {
    border-radius: 5px;
    color: white;
    transition: 0.4s ease-in-out;
    overflow: hidden;
}

.tag-on-board {
    height: 12px;
    cursor: pointer;
    min-width: 50px;
    overflow: hidden;
}

.clicked {
    height: 25px !important;
    padding: 0.2rem 0.5rem !important;
    font-size: 0.8em !important;
    overflow: hidden;
}

.tag-on-card {
    font-size: 1em !important;
    height: 25px !important;
    width: fit-content;
    text-align: center;
    padding: 0.2rem 0.5rem !important;
    overflow: hidden;
}

.tag-on-card p {
    font-size: 0.8em;
    overflow: hidden;
}
