.tag {
    border-radius: 5px;
    color: var(--dark-gray);
    transition: 0.4s ease-in-out;
}

.tag-on-board {
    height: 5px;
    cursor: pointer;
    min-width: 50px;
}

.tag-on-card{
    height: 25px !important;
    width: fit-content;
    text-align: center;
    padding: 0.2rem 0.5rem;
}

.tag-on-card p {
    font-size: 0.8em;
}
