.tag {
    border-radius: 5px;
    color: var(--dark-gray);
}

.tag-on-board {
    height: 5px;
    padding: calc((10px - 5px) / 2) 0;
    cursor: pointer;
    min-width: 36px;
}

.tag-on-card{
    height: 25px !important;
    width: 60px;
    min-width: 50px;
    text-align: center;
}

.tag:hover {
    height: 25px;
    text-align: center;
    z-index: 2;
    transition: height 0.2s ease;
}