.task-card {
    background-color: rgba(249, 249, 249, 0.6); /* Slightly transparent background */
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 400px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .task-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .task-card p {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .comments {
    margin-top: 10px;
  }
  
  .comment {
    margin: 5px 0;
  }
  
  .user {
    font-weight: bold;
    color: #007bff;
    margin-right: 5px;
  }
  .scrollable-container {
    max-height: 800px; /* Set a maximum height for scrollability */
    overflow: auto; /* Enable scrolling if content overflows */
    padding: 15px; /* Add padding to make the content breathe */
  }
  
  /* ... your existing styles ... */