.task-card {
    background-color: var(--bg-dark);
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    padding: 15px;
    min-width: 300px;
    max-width: 400px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    color: var(--light-gray);
  }
  
  .subtitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
  }

  .task-card h2 {
    margin-bottom: 20px;
  }

  .task-card h3 {
    font-size: 18px;
    align-self: flex-start;
  }
  
  .comments {
    margin-top: 10px;
  }
  
  .comment {
    margin: 5px 0;
  }
  
  .user {
    font-weight: bold;
    color: #007bff;
    margin-right: 5px;
  }
  .scrollable-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 30px; /* Set a maximum height for scrollability */
    padding: 15px; /* Add padding to make the content breathe */
  }

  .tags {
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }
  