.task-card {
    background-color: var(--bg-dark);
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    padding: 15px 20px;
    min-width: 420px;
    max-width: 475px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    color: var(--light-gray);
}

.opentask {
    background-color: var(--bg-dark);
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    padding: 15px 20px;
    min-width: 300px;
    max-width: 400px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    color: var(--light-gray);
    margin-bottom: -10px;
}

.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.task-card .subtitle {
    margin-top: 20px;
}

.task-card div:nth-child(2) {
    margin-top: 0;
}


.task-card h2 {
    margin-bottom: 20px;
}

.task-card h3 {
    font-size: 1.1em;
    align-self: flex-start;
}

.description {
    background-color: var(--bg-dark);
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    padding: 15px 20px;
    min-width: 300px;
    max-width: 400px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.description p {
    margin: 5px;
    float: left;
    font-size: 12px;
    text-align: justify;
}

.comments-container {
    max-height: 250px;
}

.comment {
    margin: 5px 0;
}

.user {
    font-weight: bold;
    color: #007bff;
    margin-right: 5px;
}

.scrollable-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */
    gap: 1rem; /* Spacing between items */
    padding: 1rem; /* Optional padding for the grid container */
}


.attachment-text {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.section {
    background-color: var(--bg-dark);
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    padding: 15px 20px;
    min-width: 300px;
    max-width: 400px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.attachments-onassignedtask {
    background-color: var(--bg-dark);
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    padding: 15px 20px;
    min-width: 300px;
    max-width: 400px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}