/* Global Styles */
:root {
  --dark-gray: #333;
  --light-gray: #aaa;
  --bg-dark: #222;
}

/* Container Styles */
.teams-container {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Team Card Styles */
.teamcard {
  width: 100%;
  background-color: rgba(64, 64, 64, 0.692);
  opacity: 0.9;
  border: 1px solid var(--dark-gray);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.teamcard-header {
  width: 100%;
  padding: 20px;
  background-color: var(--dark-gray);
  border-bottom: 1px solid var(--dark-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-gray);
}

.teamcard-subheader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

/* Team Body Styles */
.teamcard-body {
  width: 100%;
  padding: 20px;
}

.teamcard-body h3 {
  color: var(--light-gray);
  text-align: left;
}

/* Button Styles */
.button {
  background-color: #6a97ea;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #547dc7;
}

/* Delete Button Styles */
.delete_button {
  background-color: red;
}

/* Manage Team Button Styles */
.manageButton {
  background-color: #6a97ea;
}

/* Team Manager Section Styles */
.team-manager {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
}

/* Team Members Section Styles */
.team-members {
  margin-top: 20px;
  border-radius: 10px;
}

/* Table Styles */
.team-members table {
  width: 100%;
  border-collapse: collapse;
}

.team-members th,
.team-members td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--dark-gray);
}

/* Table Header Styles */
.team-members th {
  background-color: var(--dark-gray);
  color: var(--light-gray);
}

/* Username Styles */
.team-members h3 {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

/* Role Styles */
.team-members p {
  margin: 0;
  color: var(--light-gray);
}

/* Add Role Button Styles */
.team-members .manageButton {
  background-color: #5ab078;
}

/* Actions Section Styles */
.teamcard-actions {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Spacing Between Rows */
.team-members tr:not(:last-child) {
  margin-bottom: 10px;
}