.title-bar {
    position: relative;
    /* Stick to top on scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: var(--title-bar);
    border-bottom: 1px solid var(--title-bar);
    z-index: 1;
}

.title-name {
    font-family: var(--basic-font);
    font-size: 2em;
    margin: 20px;
    color: var(--button-hover) !important;
}

.title-name-input {
    font-family: var(--basic-font);
    font-size: 2em;
    margin: 20px;
    border: none;
    background-color: var(--title-bar);
}

.title-bar-buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.title-bar-buttons ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.title-bar-buttons li {
    display: flex;
    color: var(--button-hover) !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 5px;
    gap: 5px;
    cursor: pointer;
}

.title-bar-buttons li:hover {
    color: var(--off-white);
    background-color: var(--title-bar-hover);
    border-radius: 8px;
}

.title-bar-buttons li svg {
    color: var(--button-hover) !important;
}